.header {
  color: #fff;
  background-color: #1C1A19;
  position: static;
  width: 100%;
  height: 72px;
  z-index: 1100;
}

.logo {
  float: left;
  margin: 5px 27px;
}

.navigation {
  float: right;
  margin: 17px;
}

.navigation-button {
  padding: 6px 8px;
  font-size: 0.875rem;
  min-width: 64px;
  font-weight: 500;
  line-height: 1.75;
  display: inline-block;
}

.navigation-button.active {
  color: rgb(253, 191, 90);
}

.header-vertical .navigation {
  display: none;
}

.header-vertical {
  color: #fff;
  background-color: #1C1A19;
  position: absolute;
  width: 600px;
  height: 100%;
  z-index: 1100;
  top: 0;
}

.header-vertical .logo {
  float: none;
  margin: 50% auto;
  top: 50%;
}