.form {
  border-radius: 20px;

  position: relative;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}

.label-form {
  font-size: 1.65rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2.75rem;
}

.MuiButton-root {
  padding: 6px 24px!important;
  color: rgba(0, 0, 0, 0.87)!important;
  box-shadow: none;
  background-color: #FDBF5A!important;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 40px!important;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 72px!important;
  margin-bottom: 24px!important;
}

.MuiButton-root:hover {
  background-color: #FFA842;
}

.MuiFormControl-root {
  margin-top: 16px;
  margin-bottom: 8px;
}

.link-active {
  color: rgb(253, 191, 90);
  cursor: pointer;
}

.input-inline {
  display: inline-block;
  width: 155px;
}

.input-inline:first-child {
  margin-right: 10px;
}