.profile {
  height: 506px;
  width: 890px;
  margin: 40px auto;
  position: relative;
  padding: 50px;
}

.profile-card {
  position: absolute;
  right: 100px;
  border: 1px solid;
  width: 347px;
  height: 190px;
  top: 145px;
}

.profile-card div {
  margin-top: 30px;
  margin-left: 30px;
}

.profile-form form {
  float: left;
  margin-left: 100px;
}

.profile-form .label {
  margin-bottom: 100px;
}