.profile-form {
  height: 506px;
  width: 890px;
  border-radius: 10px;
  border: 1px solid;
  margin: 40px auto;
  position: relative;
  padding: 50px;
  background-color: white;
}

.profile-card {
  position: absolute;
  right: 100px;
  border: 1px solid;
  width: 347px;
  height: 190px;
  bottom: 0;
}

.profile-card div {
  margin-bottom: 20px;
}

.profile-form form {
  float: left;
  margin-left: 100px;
}

.profile-form .label {
  margin-bottom: 100px;
}